.my-month-calendar-table{
  width: 100%;
  border-collapse: collapse;

  tr{
    height: 38px;
  }

  td{
    text-align: center;
  }

  .static-month{
    cursor: pointer;

    &.current{
      color: #4242e7;
      font-weight: bold;
    }
  }
}

.month-control-area{
  height: 30px;
  border-bottom: 1px solid #ddd;

  .month-control-btn{
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    color: #4242e7;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  .control-show{
    float: left;
    display: block;
    width: 264px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size:  16px;
    cursor: pointer;

    &:hover{
      color: #4242e7;
      font-weight: bold;
    }
  }
}